Django==4.2.0
django-heroku
dj-database-url
django-cors-headers 
psycopg2-binary
djangorestframework==3.14.0
psycopg2==2.9.5
moviepy==1.0.3
numpy<2
argon2-cffi
python-dotenv
openai-whisper
gunicorn
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.2.0+cpu