Django==4.2.0
django-heroku
djangorestframework==3.14.0
psycopg2==2.9.5
moviepy==1.0.3
numpy<2
argon2
python-dotenv
openai-whisper
gunicorn
postgresql-client
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.2.0+cpu