{% extends "base.html" %} 
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="has-text-centered box">
        <h1>サインインが完了しました</h1>
        <h2>{{data}}</h2>
        <a href="{% url 'home' %}"><button class="button is-danger has-text-centered">閉じる</button></a>
    </div>
</body>
</html>
{% endblock %}