{% extends "base.html" %} 
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{e}}
    <div class="has-text-centered box">
        <h1>動画が作られました</h1>
        <br>
        <a href="{% url 'home' %}">
            {% csrf_token %}
            <div class="field">
                <div class="control">
                    <button class="button is-danger has-text-centered" id="myButton" type="submit">閉じる</button>
                </div>
            </div>
        </a>
    </div>
</body>
</html>
{% endblock %}